# Python’s Built-In Classes

Table below provides a summary of commonly used, built-in classes in Python; we take particular note of which classes are mutable and which are immutable. A class is immutable if each object of that class has a fixed value upon instantiation that cannot subsequently be changed. For example, the float class is immutable. Once an instance has been created, its value cannot be changed (although an identifier referencing that object can be reassigned to a different value).


|   class   |              Description               | immutable? |
|:---------:|:--------------------------------------:|:----------:|
|    bool   |             Boolean value              |     Yes    |
|    int    |     integer (arbitrary magnitude)      |     Yes    |
|    float  |          floating-point number         |     Yes    |
|    list   |      mutable sequence of objects       |      No    |
|    tuple  |     immutable sequence of objects      |     Yes    |
|    str    |            character string            |     Yes    |
|    set    |   unordered set of distinct objects    |      No    |
| frozenset |      immutable form of set class       |     Yes    |
|    dict   |  associative mapping (aka dictionary)  |      No    |


***
# bool class
***

The bool class is used to manipulate logical (Boolean) values, and the only two instances of that class are expressed as the literals True and False. The default constructor, bool(), returns False, but there is no reason to use that syntax rather than the more direct literal form. Python allows the creation of a Boolean value from a nonboolean type using the syntax bool(foo) for value foo. The interpretation depends upon the type of the parameter. Numbers evaluate to False if zero, and
True if nonzero. Sequences and other container types, such as strings and lists, evaluate to False if empty and True if nonempty. An important application of this interpretation is the use of a nonboolean value as a condition in a control structure.
The Python Boolean type has only two possible values:

1. True
2. False

No other value will have bool as its type. You can check the type of ```True``` and ```False``` with the built-in ```type()```:

In [1]:
print(type(False))
print(type(True))

<class 'bool'>
<class 'bool'>

* ## Python Booleans as Numbers
Booleans are considered a numeric type in Python. This means they’re numbers for all intents and purposes. In other words, you can apply arithmetic operations to Booleans, and you can also compare them to numbers:

In [2]:
print(True == 1)
print(False == 0)
print(True + (False / True))

True
True
1.0

There aren’t many uses for the numerical nature of Boolean values, but there’s one technique you may find helpful. Because True is equal to 1 and False is equal to 0, adding Booleans together is a quick way to count the number of True values. This can come in handy when you need to count the number of items that satisfy a condition.

For example, if you want to analyze a verse in a classic children’s poem to see what fraction of lines contain the word "the", then the fact that ```True``` is equal to 1 and ```False``` is equal to 0 can come in quite handy:

In [3]:
lines="""He took his vorpal sword in hand;
          Long time the manxome foe he sought— 
          So rested he by the Tumtum tree 
          And stood awhile in thought.""".splitlines()

print(sum("the" in line.lower() for line in lines) / len(lines))

0.5

* ## Boolean Operators

* Since Python Boolean values have only two possible options, ```True``` or ```False```, it’s possible to specify the operators completely in terms of the results they assign to every possible input combination. These specifications are called truth tables since they’re displayed in a table.

* ### Boolean logical operators are:
1. ```not```
2. ```and```
3. ```or```

* *```not``` operator  truth table*


|   A   | not A |
|:-----:|:-----:|
| True  | False |
| False | True  |


* *```and``` operator truth table* 


|   A   |   B   | A and B |
|:-----:|:-----:|:-------:|
| True  | True  |  True   |
| True  | False |  False  |
| False | True  |  False  |
| False | False |  False  |


* *```or``` operator truth table* 


|   A   |   B   |  A or B |
|:-----:|:-----:|:-------:|
| True  | True  |  True   |
| True  | False |  True   |
| False | True  |  True   |
| False | False |  False  |

In [4]:
a = True
b = False
print("not operator: ", not a)
print("and operator: ", a and b)
print("or operator: ", a or b)

not operator:  False
and operator:  False
or operator:  True

* ### Boolean equality operators are:
1. ```is``` (same identity)
2. ```is not``` (different identity)
3. ```==``` (equivalent)
4. ```!=``` (not equivalent)

The expression a is b evaluates to True, precisely when identifiers a and b are aliases for the same object. The expression a == b tests a more general notion of equivalence. If identifiers a and b refer to the same object, then a == b should also
evaluate to True. Yet a == b also evaluates to True when the identifiers refer to different objects that happen to have values that are deemed equivalent. The precise notion of equivalence depends on the data type. For example, two strings are considered equivalent if they match character for character. Two sets are equivalent if they have the same contents, irrespective of order. In most programming situations, the equivalence tests == and != are the appropriate operators; use of is and is not should be reserved for situations in which it is necessary to detect true aliasing.

In [5]:
a = 400
b = 400
c = a
print("equality: ", a == b)
print("identity: ", a is b)
print("identity: ", a is c)

equality:  True
identity:  False
identity:  True

* ### Boolean comparison operators
1. ```<``` less than
2. ```<=``` less than or equal to
3. ```>``` greater than
4. ```>=``` greater than or equal to

These operators have expected behavior for numeric types, and are defined lexicographically, and case-sensitively, for strings. An exception is raised if operands have incomparable types, as with 5 < "hello".

In [6]:
a = 100
b = -100
c = "apple"
d = "orange"
print("numeric order: ", a > b)
print("lexicographic order: ", c > d)

numeric order:  True
lexicographic order:  False

* ### The ```is``` Operator

The ```is``` operator checks for object identity. In other words, ```x is y``` evaluates to ```True``` only when x and y evaluate to the same object. The ```is``` operator has an opposite, the ```is not``` operator.

A typical usage of is and is not is to compare lists for identity:

In [7]:
x = []
y = []
print(x is x)
print(x is y)

True
False

* ### The ```in``` Operator

The ```in``` operator checks for **membership**. An object can define what it considers members. Most sequences, such as lists, consider their elements to be members:

In [8]:
small_even = [2, 4, 6, 8]
print(1 in small_even)

False

***
# float & int class
***

* ## int class

The int and float classes are the primary numeric types in Python. The int class is designed to represent integer values with arbitrary magnitude. Unlike Java and C++, which support different integral types with different precisions (e.g., int, short, long), Python automatically chooses the internal representation for an integer based upon the magnitude of its value.

In some contexts, it is convenient to express an integral value using binary, octal, or hexadecimal. That can be done by using a prefix of the number 0 and then a character to describe the base. Example of such literals are respectively ```0b1011```, ```0o52```, and ```0x7f```.

we can use ```bin()```, ```oct()``` and ```hex()``` to convert a decimal number to these literals and we can also use ```int()``` to convert from those literals to decimal.

In [9]:
decimal = 25
binary = bin(decimal)
octal = oct(decimal)
hexadecimal = hex(decimal)
print("decimal: ", decimal)
print("binary: ", binary)
print("octal: ", octal)
print("hexadecimal: ", hexadecimal)
converted_hex = int("0x19", 16)  # Note that the value passed to int() is of string type.
print("hexadecimal converted to decimal: ", converted_hex)

decimal:  25
binary:  0b11001
octal:  0o31
hexadecimal:  0x19
hexadecimal converted to decimal:  25

* ## float class

The float class is the sole floating-point type in Python, using a fixed-precision representation. Its precision is more akin to a double in Java or C++, rather than those languages’ float type. We have already discussed a typical literal form, ```98.6```.
We note that the floating-point equivalent of an integral number can be expressed directly as ```2.0```. Technically, the trailing zero is optional, so some programmers might use the expression ```2```. to designate this floating-point literal. One other form
of literal for floating-point values uses scientific notation. For example, the literal ```6.022e23``` represents the mathematical value ```6.022×10^23```.

* ### int & float Arithmetic Operators

1. ```+``` addition
2. ```−``` subtraction
3. ```*``` multiplication
4. ```/``` true division
5. ```//``` integer division
6. ```%``` the modulo operator

In [10]:
print("addition: ", 3 + 5)
print("subtraction: ", 11 - 4)
print("multiplication: ", 9 * 6)
print("true division: ", 7 / 3)
print("integer division: ", 17 // 13)
print("the modulo operator: ", 24 % 5)

addition:  8
subtraction:  7
multiplication:  54
true division:  2.3333333333333335
integer division:  1
the modulo operator:  4

* ### Math Functions and Number Methods
1. ```round()```, for rounding numbers to some number of decimal places
2. ```abs()```, for getting the absolute value of a number
3. ```pow()```, for raising a number to some power

In [11]:
print("round: ", round(3.141596, 4))
print("abs: ", abs(-12.5))
print("pow: ", pow(2, 4))  # same as 2 ** 4

round:  3.1416
abs:  12.5
pow:  16

* ### *some subtle errors*

In [12]:
print(0.1 + 0.2)

0.30000000000000004

In [13]:
from fractions import Fraction 
a = 0
for i in range(10):
    a = a + Fraction(1, 10) # a += 0.1
print(a)

1

It’s a floating-point representation error, and it has nothing to do with Python. It’s related to the way floating-point numbers are stored in a computer’s memory.

The number ```0.1``` can be represented as the fraction ```1/10```. Both the number 0.1 and its fraction 1/10 are decimal representations, or base-10 representations. Computers, however, store floating-point numbers in base-2 representation, more commonly called binary representation.

When represented in binary, something familiar yet possibly unexpected happens to the decimal number ```0.1```. The fraction ```1/3``` has no finite decimal representation. That is, ```1/3 = 0.3333...``` with infinitely many 3s after the decimal point. The same thing happens to the fraction ```1/10``` in binary.

The binary representation of ```1/10``` is the following infinitely repeating fraction:
```0.00011001100110011001100110011...```

Computers have finite memory, so the number ```0.1``` must be stored as an approximation and not as its true value. The approximation that gets stored is slightly higher than the actual value and looks like this:
```0.1000000000000000055511151231257827021181583404541015625```

***
# list class
***

A list instance stores a sequence of objects. A list is a referential structure, as it technically stores a sequence of references to its elements. Elements of a list may be arbitrary objects (including the None object). Lists are array-based sequences and are zero-indexed, thus a list of length n has elements indexed from 0 to n−1 inclusive.

Lists are perhaps the most used container type in Python and they will be extremely central to our study of data structures and algorithms. They have many valuable behaviors, including the ability to dynamically expand and contract their capacities as needed.

Python uses the characters ```[]``` as delimiters for a list literal, with ```[]``` itself being an empty list. As another example, ```[red, green, blue ]``` is a list containing three string instances. The contents of a list literal need not be expressed as literals; if identifiers ```a``` and ```b``` have been established, then syntax ```[a, b]``` is legitimate.

The important characteristics of Python lists are as follows:

* Lists are ordered.
* Lists can contain any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to arbitrary depth.
* Lists are mutable.
* Lists are dynamic.

In [14]:
prime = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
a = "hello"
b = "world"
c = [a, b]
print("prime: ", prime)
print("c: ", c)
nested = [[1, 2], [3, 4]]
print("nested list: ", nested)

prime:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
c:  ['hello', 'world']
nested list:  [[1, 2], [3, 4]]

* ## List Operators

Several Python operators and built-in functions can also be used with lists in ways that are analogous to strings(we will discuss later):

* ### The ```in``` and ```not in``` operators:

In [15]:
prime = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
print(1 in prime)

False

* ### The concatenation ```+``` and replication ```*``` operators:

In [16]:
a = ["flower", "tree"]
b = ["mountain", "lake"]
c = a + b
print(c)
d = a * 3
print(d)

['flower', 'tree', 'mountain', 'lake']
['flower', 'tree', 'flower', 'tree', 'flower', 'tree']

* ### The ```len()```, ```min()```, and ```max()``` functions:

In [17]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print("length of the array is: ", len(a))
print("minimum item of the array is: ", min(a))
print("maximum item of the array is: ", max(a))

length of the array is:  6
minimum item of the array is:  bar
maximum item of the array is:  qux

* ## Indexing and Slicing

Individual elements in a list can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a string. List indexing is zero-based as it is with strings.

* **Indexing**

<div>
<img src="https://files.realpython.com/media/t.c11ea56e8ca2.png" width="430"/>
</div>

* **Slicing**

<div>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20201025141338/Screenshot584.png" width="430"/>
</div>

In [18]:
example = ["apple", "orange", "cookie", "coffee", "bread"]
print("second element: ", example[1])
print("first to third elements: ", example[1:3])
print("till second element: ", example[:2])
print("from third element: ", example[3:])

second element:  orange
first to third elements:  ['orange', 'cookie']
till second element:  ['apple', 'orange']
from third element:  ['coffee', 'bread']

* ## List Methods
1. ```append()``` :	Adds an element at the end of the list
2. ```clear()``` : Removes all the elements from the list
3. ```copy()``` : Returns a copy of the list
4. ```count()``` : Returns the number of elements with the specified value
5. ```extend()``` :	Add the elements of a list (or any iterable), to the end of the current list
6. ```index()``` : Returns the index of the first element with the specified value
7. ```insert()``` :	Adds an element at the specified position
8. ```pop()``` : Removes the element at the specified position
9. ```remove()``` :	Removes the first item with the specified value
10. ```reverse()``` : Reverses the order of the list
11. ```sort()``` : Sorts the list

* **```append()```**

The ```append()``` method appends an element to the end of the list.

*   **syntax:** list.append(element)

    element(Required): An element of any type (string, number, object etc.)

In [19]:
a = ["breakfast", "lunch"]
b = "dinner"
c = ["snack"]
print("before appending: ", a)
a.append(b)
print("after appending b: ", a)
a.append(c)
print("after appending c: ", a)

before appending:  ['breakfast', 'lunch']
after appending b:  ['breakfast', 'lunch', 'dinner']
after appending c:  ['breakfast', 'lunch', 'dinner', ['snack']]

* **```clear()```**

The ```clear()``` method removes all the elements from a list.

*   **synatx:** list.clear()

In [20]:
fruits = ['apple', 'banana', 'orange']
print("before clearing the list: ", fruits)
fruits.clear()
print("after clearing the list: ", fruits)

before clearing the list:  ['apple', 'banana', 'orange']
after clearing the list:  []

* **```copy()```**

The ```copy()``` method returns a copy of the specified list.

* **syntax:** list.copy()

copying a list is useful when we are linking references because doing this may cause some unwanted errors, take look at the example below:

In [21]:
a = [1, 2, 3]
b = a
print("before modifying lists: ")
print("a: ", a)
print("b: ", b)
a[1] = "python"
print("\nafter modifying lists: ")
print("a: ", a)
print("b: ", b)

before modifying lists:
a:  [1, 2, 3]
b:  [1, 2, 3]

after modifying lists:
a:  [1, 'python', 3]
b:  [1, 'python', 3]

as it is illustrated by the above example, changing one of the variables will result in a change in another one.in order to avoid this kind of problem, we use the ```copy()``` method to make a copy of the original one to freely change whatever we want.

In [22]:
a = [1, 2, 3]
b = a.copy()
print("before modifying lists: ")
print("a: ", a)
print("b: ", b)
a[1] = "python"
print("\nafter modifying lists: ")
print("a: ", a)
print("b: ", b)

before modifying lists:
a:  [1, 2, 3]
b:  [1, 2, 3]

after modifying lists:
a:  [1, 'python', 3]
b:  [1, 2, 3]

* **```count()```**

The ```count()``` method returns the number of elements with the specified value.

*   **syntax:** list.count(value)

    value(Required): Any type (string, number, list, tuple, etc.). The value to search for.

In [23]:
dairy = ["milk", "butter", "cheese", "yoghurt", "milk", "ice cream"]
print("count of milk:", dairy.count("milk"))
print("count of ice cream:", dairy.count("ice cream"))

count of milk: 2
count of ice cream: 1

* **```extend()```**

The ```extend()``` method adds the specified list elements (or any iterable) to the end of the current list.

*   **syntax:** list.extend(iterable)

    iterable(Required): Any iterable (list, set, tuple, etc.)

In [24]:
phone_manufacturers = ["apple", "samsung", "google", "xiaomi"]
laptop_manufacturers = ["apple", "asus", "msi", "microsoft"]
extended_list = phone_manufacturers.extend(laptop_manufacturers)
print("extended list: ", extended_list)  # surprisingly returns None type! what happens?!
print("but phone manufacturers is extended: ", phone_manufacturers)  # why?!

extended list:  None
but phone manufacturers is extended:  ['apple', 'samsung', 'google', 'xiaomi', 'apple', 'asus', 'msi', 'microsoft']

*in order to create a variable to save the extended list in it, you can use the following code:*

In [25]:
phone_manufacturers = ["apple", "samsung", "google", "xiaomi"]
laptop_manufacturers = ["apple", "asus", "msi", "microsoft"]
extended_list = phone_manufacturers + laptop_manufacturers
print("extended list: ", extended_list)

extended list:  ['apple', 'samsung', 'google', 'xiaomi', 'apple', 'asus', 'msi', 'microsoft']

* **```index()```**

The ```index()``` method returns the position at the first occurrence of the specified value.

*   **syntax:** list.index(element)

    element(Required): Any type (string, number, list, etc.). The element to s

In [26]:
fruits = ["apple", "banana", "cherry", "orange"]
index = fruits.index("cherry")
print("cherry's index is: ", index)

cherry's index is:  2

* **```insert()```**

The ```insert()``` method inserts the specified value at the specified position.

* **syntax:** list.insert(position_index, element)

    position_index(Required): A number specifying in which position to insert the value
    
    element(Required): An element of any type (string, number, object etc.)

In [27]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits.insert(2, "strawberry")
print("new list: ", fruits)

new list:  ['apple', 'banana', 'strawberry', 'cherry', 'orange']

* **```pop()```**

The ```pop()``` method removes the element at the specified position.

*   **syntax:** list.pop(position_index)

    position_index(Optional): A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [28]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits.pop(1)
print("new list: ", fruits)

new list:  ['apple', 'cherry', 'orange']

* <mark> Note: The ```pop()``` method returns removed value. </mark>

In [29]:
fruits = ["apple", "banana", "cherry", "orange"]
item = fruits.pop(1)
print("new list: ", fruits)
print("popped item: ", item)

new list:  ['apple', 'cherry', 'orange']
popped item:  banana

* **```remove()```**

The ```remove()``` method removes the first occurrence of the element with the specified value.

*   **syntax:** list.remove(element)

    element(Required): Any type (string, number, list etc.) The element you want to remove

In [30]:
cars = ["bmw", "mercedes", "volvo", "ford"]
cars.remove("mercedes")
print("given list after removing an item: ", cars)

given list after removing an item:  ['bmw', 'volvo', 'ford']

* **```reverse()```**

The ```reverse()``` method reverses the sorting order of the elements.

*   **syntax:** list.reverse()

In [31]:
cars = ["bmw", "mercedes", "volvo", "ford"]
cars.reverse()
print("reversed list: ", cars)

reversed list:  ['ford', 'volvo', 'mercedes', 'bmw']

* <mark> Note: there is also a built-in function in python named ```reversed()```. the difference between ```reversed()``` function and list's ```reverse()``` method is that the first one just returns the reversed iterable and applies no change to the iterable, but the second one does not return anything at all, but it makes the changes directly to the object. for further illustration look at the following code: <mark>

In [32]:
cars = ["bmw", "mercedes", "volvo", "ford"]
reversed_cars = cars.reverse()
print("reversed cars list: ", reversed_cars)

reversed cars list:  None

In [33]:
cars = ["bmw", "mercedes", "volvo", "ford"]
reversed_cars = reversed(cars)
print("reversed cars list: ", list(reversed_cars))  # we can unpack this object by a single list() syntax.
print(cars)

reversed cars list:  ['ford', 'volvo', 'mercedes', 'bmw']
['bmw', 'mercedes', 'volvo', 'ford']

* **```sort()```**: 

The ```sort()``` method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

*   **syntax**: list.sort(reverse=True|False, key=myFunc)

    reverse(Optional): reverse=True will sort the list descending. Default is reverse=False.
    
    key(Optional): A function to specify the sorting criteria(s)

In [34]:
cars = ["ford", "bmw", "volvo"]
cars.sort(reverse=True)
print("reverse sorted list: ", cars)
cars.sort()
print("sorted list: ", cars)

reverse sorted list:  ['volvo', 'ford', 'bmw']
sorted list:  ['bmw', 'ford', 'volvo']

In [35]:
def function(iterable):
   return len(iterable)

cars = ["ford", "bmw", "volvo"]
cars.sort(key=function)
print("sorted list: ", cars)

sorted list:  ['bmw', 'ford', 'volvo']

* <mark> Note: just like above, there is also a built-in function in python named ```sorted()```. the difference between ```sorted()``` function and list's ```sort()``` method is that the first one just returns the sorted iterable and applies no change to the iterable, but the second one does not return anything at all, but it makes the changes directly to the object. for further illustration look at the following code: <mark>

In [36]:
cars = ["bmw", "mercedes", "volvo", "ford"]
sorted_cars = cars.sort()
print("sorted cars list: ", sorted_cars)

sorted cars list:  None

In [37]:
cars = ["bmw", "mercedes", "volvo", "ford"]
sorted_cars = sorted(cars)
print("sorted cars list: ", sorted_cars)

sorted cars list:  ['bmw', 'ford', 'mercedes', 'volvo']

***
# Tuple Class
***

The tuple class provides an immutable version of a sequence, and therefore its instances have an internal representation that may be more streamlined than that of a list. While Python uses the ```[]``` characters to delimit a list, parentheses delimit a
tuple, with ```()``` being an empty tuple. There is one important subtlety. To express a tuple of length one as a literal, a comma must be placed after the element, but within the parentheses. For example, ```(17,)``` is a one-element tuple. The reason for this requirement is that, without the trailing comma, the expression ```(17)``` is viewed as a simple parenthesized numeric expression.


The important characteristics of Python tuples are as follows:

* tuples are ordered.
* tuples can contain any arbitrary objects.
* tuples elements can be accessed by index.
* tuples can be nested to arbitrary depth.
* tuples are immutable.

In [38]:
cars = ("bmw", "mercedes", "volvo", "ford")
a = "hello"
b = "world"
c = (a, b)
print("cars: ", cars)
print("c: ", c)
nested = ((1, 2), (3, 4))
print("nested tuples: ", nested)

cars:  ('bmw', 'mercedes', 'volvo', 'ford')
c:  ('hello', 'world')
nested tuples:  ((1, 2), (3, 4))

* ## Tuple Operators

Several Python operators and built-in functions can also be used with tuples:

* ### The ```in``` and ```not in``` operators:

In [39]:
prime = (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31)
print(1 in prime)

False

* ### The concatenation ```+``` and replication ```*``` operators:

In [40]:
a = ("flower", "tree")
b = ("mountain", "lake")
c = a + b
print(c)
d = a * 3
print(d)

('flower', 'tree', 'mountain', 'lake')
('flower', 'tree', 'flower', 'tree', 'flower', 'tree')

* ### The ```len()```, ```min()```, and ```max()``` functions:

In [41]:
a = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print("length of the array is: ", len(a))
print("minimum item of the array is: ", min(a))
print("maximum item of the array is: ", max(a))

length of the array is:  6
minimum item of the array is:  bar
maximum item of the array is:  qux

* ## Indexing and Slicing

Individual elements in a tuple can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a list. tuple indexing is zero-based as it is with lists.

* ### Indexing

<div>
<img src="https://files.realpython.com/media/t.c11ea56e8ca2.png" width="430"/>
</div>

* ### Slicing

<div>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20201025141338/Screenshot584.png" width="430"/>
</div>

In [42]:
example = ("apple", "orange", "cookie", "coffee", "bread")
print("second element: ", example[1])
print("first to third elements: ", example[1:3])
print("till second element: ", example[:2])
print("from third element: ", example[3:])

second element:  orange
first to third elements:  ('orange', 'cookie')
till second element:  ('apple', 'orange')
from third element:  ('coffee', 'bread')

* ## Changing Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [43]:
stationeries = ("pen", "pencil", "eraser", "marker")
print("initial tuple: ", stationeries)
list_of_stationeries = list(stationeries)
list_of_stationeries[1] = "correction pen"
stationeries = tuple(list_of_stationeries)
print("modified tuple: ", stationeries)

initial tuple:  ('pen', 'pencil', 'eraser', 'marker')
modified tuple:  ('pen', 'correction pen', 'eraser', 'marker')

* ## Add Items

Since tuples are immutable, they do not have a build-in ```append()``` method, but there are other ways to add items to a tuple.

1. **Convert into a list:** Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [44]:
fruits_tuple = ("apple", "banana", "cherry")
print("initial tuple: ", fruits_tuple)
list_of_fruits = list(fruits_tuple)
list_of_fruits.append("orange")
fruits_tuple = tuple(list_of_fruits)
print("modified tuple: ", fruits_tuple)

initial tuple:  ('apple', 'banana', 'cherry')
modified tuple:  ('apple', 'banana', 'cherry', 'orange')

2. **Add tuple to a tuple (aka joining tuples):** You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [45]:
fruits_tuple = ("apple", "banana", "cherry")
print("initial tuple: ", fruits_tuple)
orange = ("orange",)
fruits_tuple += orange  # we can also write: fruits_tuple = fruits_tuple + orange
print("modified tuple: ", fruits_tuple)

initial tuple:  ('apple', 'banana', 'cherry')
modified tuple:  ('apple', 'banana', 'cherry', 'orange')

* ## packing and unpacking

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

```python
sports = ("football", "basketball", "volleyball", "tennis")
```

When this occurs, it is as though the items in the tuple have been “packed” into the object:

<div>
<img src="https://files.realpython.com/media/t.feb20d10b75d.png" width="430"/>
</div>

If that “packed” object is subsequently assigned to a new tuple, the individual items are “unpacked” into the objects in the tuple:

```python
first_item, second_item, third_item, fourth_item = ("football", "basketball", "volleyball", "tennis")
```

<div>
<img src="https://files.realpython.com/media/t.629d7402a412.png" width="430"/>
</div>

<mark> Note: The number of variables must match the number of values in the tuple, if not, you must use an **asterisk** to collect the remaining values as a list. </mark>

* ### Using Asterisk

If the number of variables is less than the number of values, you can add an ```*``` to the variable name and the values will be assigned to the variable as a list:

In [46]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green_fruit, yellow_fruit, *red_fruits) = fruits

print("green fruit: ", green_fruit)
print("yellow fruit: ", yellow_fruit)
print("red_fruits: ", red_fruits)

green fruit:  apple
yellow fruit:  banana
red_fruits:  ['cherry', 'strawberry', 'raspberry']

**Note:** If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [47]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green_fruit, *tropical_fruits, red_fruit) = fruits

print("green fruit: ", green_fruit)
print("tropical fruits: ", tropical_fruits)
print("red fruit: ", red_fruit)

green fruit:  apple
tropical fruits:  ['mango', 'papaya', 'pineapple']
red fruit:  cherry

* ## tuple Methods
1. ```count()``` : Returns the number of elements with the specified value
2. ```index()``` : Returns the index of the first element with the specified value

* **```count()```**

The ```count()``` method returns the number of elements with the specified value.

*   **Syntax:** tuple.count(value)

    value(Required): The item to search for

In [48]:
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
five_count = a.count(5)
print("count of five in tuple: ", five_count)

count of five in tuple:  2

* **```index()```**

The ```index()``` method returns the position at the first occurrence of the specified value.

*   **Syntax:** tuple.index(value)

    value(Required): The item to search for

In [49]:
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
eight_index = a.index(8)
print("index of 8: ", eight_index)

index of 8:  3

***
# str class
***

Python’s str class is specifically designed to efficiently represent an immutable sequence of characters, based upon the Unicode international character set. Strings have a more compact internal representation than the referential lists and tuples, as portrayed below:

<div>
<img src="https://files.realpython.com/media/t.f398a9e25af0.png" width="300"/>
</div>

String literals can be enclosed in single quotes, as in ```'hello'``` , or double quotes, as in ```"hello"```. This choice is convenient, especially when using another of the quotation characters as an actual character in the sequence, as in ```"Don t worry"```. Alternatively, the quote delimiter can be designated using a backslash as a so-called escape character, as in ```'Don\'t worry'```. 

Because the backslash has this purpose, the backslash must itself be escaped to occur as a natural character of the string literal, as in ```'C:\\Python\\'``` , for a string that would be displayed as ```C:\Python\```. Other commonly escaped characters are ```\n``` for newline and ```\t``` for tab. Unicode characters can be included, such as ```'20\u20AC'``` for the string ```20€``` . Python also supports using the delimiter ```''``` or ```"""``` to begin and end a string literal. The advantage of such triple-quoted strings is that newline characters can be embedded naturally (rather than escaped as ```\n```). This can greatly improve the readability of long, multiline strings in source code.

In [50]:
single_line = "Hello"
print("single line string: ", single_line)
print()
escape_charachter = "this \t is \t a \t string \t with \t tab \t escape \t character"
print("string with escape character: ", escape_charachter)
print()
multiline = """Lorem ipsum dolor sit amet,
               consectetur adipiscing elit,
               sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua."""  # hidden \n character
print("multiline string: ", multiline)

single line string:  Hello

string with escape character:  this 	 is 	 a 	 string 	 with 	 tab 	 escape 	 character

multiline string:  Lorem ipsum dolor sit amet,
               consectetur adipiscing elit,
               sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua.

* ## Strings operators

You have already seen the operators ```+``` and ```*``` applied to numeric operands in the tutorial on Operators and Expressions in Python. These two operators can be applied to strings as well.

* **The ```+``` Operator (aka string concatenation)**

The ```+``` operator concatenates strings. It returns a string consisting of the operands joined together, as shown here:

In [51]:
string_1 = "python"
string_2 = " is cool."
print(string_1 + string_2)

python is cool.

In [52]:
print(string_1)

python

* **The ```*``` Operator**

The ```*``` operator creates multiple copies of a string. If s is a string and n is an integer, either of the following expressions returns a string consisting of n concatenated copies of s:

In [53]:
string = "stapler"
print(string * 4)

staplerstaplerstaplerstapler

The multiplier operand n must be an integer. You’d think it would be required to be a positive integer, but amusingly, it can be zero or negative, in which case the result is an empty string:

In [54]:
string = "covid-19"
print(string * -2)  # prints an empty string

* **The ```in``` Operator**

Python also provides a membership operator that can be used with strings. The ```in``` operator returns ```True``` if the first operand is contained within the second, and ```False``` otherwise:

In [55]:
string = "foo"
first_sentence = "That's  a good food."
print("is the string in the first sentece: ", string in first_sentence)
second_sentence = "That's good for now."
print("is the string in the second sentece: ", string in second_sentence)

is the string in the first sentece:  True
is the string in the second sentece:  False

* There is also a ```not in``` operator, which does the opposite:

In [56]:
z = "z"
string = "abcd"
print("z is not in the string: ", z not in string )

z is not in the string:  True

* ## Indexing and Slicing

In Python, strings are ordered sequences of character data, and thus can be indexed in this way. Individual elements in a string can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a list. string indexing is zero-based as it is with lists.

* ### Indexing

<div>
<img src="https://files.realpython.com/media/t.5089888b3d9f.png" width="430"/>
</div>

* ### Slicing

<div>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20201025141338/Screenshot584.png" width="430"/>
</div>

In [57]:
word = "exhilarate"
print("second element: ", word[2])
print("first to third elements: ", word[1:3])
print("till second element: ", word[:2])
print("from third element: ", word[3:])

second element:  h
first to third elements:  xh
till second element:  ex
from third element:  ilarate

* **Specifying a Stride in a String Slice**

There is one more variant of the slicing syntax to discuss. Adding an additional : and a third index designates a stride (also called a step), which indicates how many characters to jump after retrieving each character in the slice.

For example, for the string ```'foobar'```, the slice ```0:6:2``` starts with the first character and ends with the last character (the whole string), and every second character is skipped. This is shown in the following diagram:

<div>
<img src="https://files.realpython.com/media/t.1fb308cf7573.png" width="300"/>
</div>

In [58]:
sample = "foobar"
print("slicing with stride of 2: ", sample[0:6:2])

slicing with stride of 2:  foa

* **who can explain this? 😉**

In [59]:
numbers = '12345' * 5
print("ommited first and second indice with stride of 5: ", numbers[::5])

ommited first and second indice with stride of 5:  11111

* ### Built-in String Functions

As you saw in the tutorial on Basic Data Types in Python, Python provides many functions that are built-in to the interpreter and always available. Here are a few that work with strings:

1. ```chr()```: Converts an integer to a character
2. ```ord()```: Converts a character to an integer
3. ```len()```: Returns the length of a string
4. ```str()```: Returns a string representation of an object

* **```ord(c)```**

Returns an integer value for the given character.

At the most basic level, computers store all information as numbers. To represent character data, a translation scheme is used which maps each character to its representative number.

The simplest scheme in common use is called ASCII. It covers the common Latin characters you are probably most accustomed to working with. For these characters, ```ord(c)``` returns the ASCII value for character ```c```:

In [60]:
print("integer value of 'a': ", ord('a'))
print("integer value of '$': ", ord('$'))

integer value of 'a':  97
integer value of '$':  36

* **```chr(n)```**

Returns a character value for the given integer.

```chr()``` does the reverse of ```ord()```. Given a numeric value ```n```, ```chr(n)``` returns a string representing the character that corresponds to ```n```:

In [61]:
print("unicode value of '97': ", chr(97))
print("unicode value of '8721': ", chr(8721))

unicode value of '97':  a
unicode value of '8721':  ∑

* **```len(s)```**

Returns the length of a string.

With ```len()```, you can check Python string length. ```len(s)``` returns the number of characters in ```s```:

In [62]:
s = "I am a string."
print("length of the given string is: ", len(s))

length of the given string is:  14

* **```str(obj)```***

Returns a string representation of an object.

Virtually any object in Python can be rendered as a string. ```str(obj)``` returns the string representation of object ```obj```:

In [63]:
print("str() representation of a floating point number: ", str(49.2))
print("str() representation of an integer number: ", str(3 + 29))  # it will evaluate the expression and then prints it
print("str() representation of a string: ", str('foo'))  # hence it is a str() object itself, this command does nothing

str() representation of a floating point number:  49.2
str() representation of an integer number:  32
str() representation of a string:  foo

* ### strings Methods

1. ```capitalize()```: Converts the first character to upper case
2. ```casefold()```: Converts string into lower case
3. ```center()```: Returns a centered string
4. ```count()```: Returns the number of times a specified value occurs in a string
5. ```encode()```: Returns an encoded version of the string
6. ```endswith()```: Returns true if the string ends with the specified value
7. ```expandtabs()```: Sets the tab size of the string
8. ```find()```: Searches the string for a specified value and returns the position of where it was found
9. ```format()```: Formats specified values in a string
10. ```format_map()```: Formats specified values in a string
11. ```index()```: Searches the string for a specified value and returns the position of where it was found
12. ```isalnum()```: Returns True if all characters in the string are alphanumeric
13. ```isalpha()```: Returns True if all characters in the string are in the alphabet
14. ```isdecimal()```: Returns True if all characters in the string are decimals
15. ```isdigit()```: Returns True if all characters in the string are digits
16. ```isidentifier()```: Returns True if the string is an identifier
17. ```islower()```: Returns True if all characters in the string are lower case
18. ```isnumeric()```: Returns True if all characters in the string are numeric
19. ```isprintable()```: Returns True if all characters in the string are printable
20. ```isspace()```: Returns True if all characters in the string are whitespaces
21. ```istitle()```: Returns True if the string follows the rules of a title
22. ```isupper()```: Returns True if all characters in the string are upper case
23. ```join()```: Joins the elements of an iterable to the end of the string
24. ```ljust()```: Returns a left justified version of the string
25. ```lower()```: Converts a string into lower case
26. ```lstrip()```: Returns a left trim version of the string
27. ```maketrans()```: Returns a translation table to be used in translations
28. ```partition()```: Returns a tuple where the string is parted into three parts
29. ```replace()```: Returns a string where a specified value is replaced with a specified value
30. ```rfind()```: Searches the string for a specified value and returns the last position of where it was found
31. ```rindex()```: Searches the string for a specified value and returns the last position of where it was found
32. ```rjust()```: Returns a right justified version of the string
33. ```rpartition()```:	Returns a tuple where the string is parted into three parts
34. ```rsplit()```: Splits the string at the specified separator, and returns a list
35. ```rstrip()```: Returns a right trim version of the string
36. ```split()```: Splits the string at the specified separator, and returns a list
37. ```splitlines()```: Splits the string at line breaks and returns a list
38. ```startswith()```: Returns true if the string starts with the specified value
39. ```strip()```: Returns a trimmed version of the string
40. ```swapcase()```: Swaps cases, lower case becomes upper case and vice versa
41. ```title()```: Converts the first character of each word to upper case
42. ```translate()```: Returns a translated string
43. ```upper()```: Converts a string into upper case
44. ```zfill()```: Fills the string with a specified number of 0 values at the beginning

* **```capitalize()```**

The ```capitalize()``` method returns a string where the first character is upper case, and the rest is lower case.

*   **syntax**: ```string.capitalize()```

In [64]:
text = "python is FUN!"
capitalized_text = text.capitalize()
print(capitalized_text)

Python is fun!

* **```casefold()```**

The ```casefold()``` method returns a string where all the characters are lower case.

This method is similar to the ```lower()``` method, but the ```casefold()``` method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the ```casefold()``` method.

*   **syntax**: string.casefold()

In [65]:
text = "Hello, And Welcome To MY World!"
new_text = text.casefold()
print(new_text)

hello, and welcome to my world!

* **```center()```**

The ```center()``` method will center align the string, using a specified character (space is default) as the fill character.

*   **syntax**: string.center(length, character)

    length(Required): The length of the returned string
    
    character(Optional): The character to fill the missing space on each side. Default is ```" "``` (space)

In [66]:
text = "banana"
centered_text = text.center(20, "x")  # each x takes approximately 3 space unit.
print(centered_text)

xxxxxxxbananaxxxxxxx

* **```count()```**

The ```count()``` method returns the number of times a specified value appears in the string.

*   **syntax**: string.count(value, start, end)

    value(Required): A String. The string to value to search for
    
    start(Optional): An Integer. The position to start the search. Default is 0
    
    end(Optional): An Integer. The position to end the search. Default is the end of the string

In [67]:
text = "I love apples, apple are my favorite fruit"
count_of_apples = text.count("apple")
print("apple is repeated: ", count_of_apples, "times in the given sentence.")

apple is repeated:  2 times in the given sentence.

* **```encode()```**

The ```encode()``` method encodes the string, using the specified encoding. If no encoding is specified, ```UTF-8``` will be used.

*   **Syntax:** string.encode(encoding=encoding, errors=errors) 

    encoding(Optional): A String specifying the encoding to use. Default is UTF-8

    errors(Optional): A String specifying the error method. Legal values are:

                    "backslashreplace" : uses a backslash instead of the character that could not be encoded

                    "ignore" : ignores the characters that cannot be encoded

                    "namereplace" : replaces the character with a text explaining the character

                    "strict" : Default, raises an error on failure

                    "replace" : replaces the character with a questionmark

                    "xmlcharrefreplace" : replaces the character with an xml character

In [68]:
text = "My name is Ståle"

print(text.encode(encoding="ascii",errors="backslashreplace"))
print(text.encode(encoding="ascii",errors="ignore"))
print(text.encode(encoding="ascii",errors="namereplace"))
print(text.encode(encoding="ascii",errors="replace"))
print(text.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

* **```endswith()```**

The ```endswith()``` method returns ```True``` if the string ends with the specified value, otherwise ```False```.

*   **Syntax:** string.endswith(value, start, end) 

    value(Required) : The value to check if the string ends with

    start(Optional) : An Integer specifying at which position to start the search

    end(Optional) : An Integer specifying at which position to end the search

In [69]:
text = "Hello, welcome to Class"

print(text.endswith("Class"))
print(text.endswith("Class" , 5 ,9))

True
False

* **```expandtabs()```**

The ```expandtabs()``` method sets the tab size to the specified number of whitespaces.

*   **syntax:** string.expandtabs(tabsize)

    tabsize(Optional) : A number specifying the tabsize. Default tabsize is 8

In [70]:
text = "H\te\tl\tl\to"

print("intact text:       ", text)
print("tabsize = default: ", text.expandtabs())
print("tabsize = 2:       ", text.expandtabs(2))
print("tabsize = 4:       ", text.expandtabs(4))
print("tabsize = 10:      ", text.expandtabs(10))

intact text:        H	e	l	l	o
tabsize = default:  H       e       l       l       o
tabsize = 2:        H e l l o
tabsize = 4:        H   e   l   l   o
tabsize = 10:       H         e         l         l         o

* **```find()```**

The ```find()``` method finds the first occurrence of the specified value.

**Note: The ```find()``` method returns ```-1``` if the value is not found.**

The ```find()``` method is almost the same as the ```index()``` method, the only difference is that the ```index()``` method raises an exception if the value is not found.

*   **Syntax:** string.find(value, start, end)

    value(Required) : The value to search for

    start(Optional) : Where to start the search. Default is 0

    end(Optional) : Where to end the search. Default is to the end of the string

In [71]:
text = "Hello, welcome to my Class"
print(text.find("welcome"))
print(text.find("e"))
print(text.find("e", 5, 9))
print(text.find("q"))

7
1
8
-1

* **```format()```**

The ```format()``` method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The ```format()``` method returns the formatted string.

*   **syntax:** string.format(value1, value2...) 

    value1,value2,...(Required) : One or more values that should be formatted and inserted in the string.

    The values are either a list of values separated by commas, a key=value list, or a combination of both.

    The values can be of any data type.


<mark>Note: The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.</mark>

In [72]:
text1 = "My name is {name}"
text2 = "My name is {name}, I'm {age}"
text3 = "My name is {0}, I'm {1}"
text4 = "My name is {}, I'm {}"
print(text1.format(name = "Alex"))
print(text2.format(name = "Alex" , age = 36))
print(text3.format("Alex" , 36))
print(text4.format("Alex" , 36))

My name is Alex
My name is Alex, I'm 36
My name is Alex, I'm 36
My name is Alex, I'm 36

* **```index()```**

The ```index()``` method finds the first occurrence of the specified value.

The ```index()``` method raises an exception if the value is not found.

The ```index()``` method is almost the same as the ```find()``` method, the only difference is that the ```find()``` method returns ```-1``` if the value is not found.

*   **syntax:** string.index(value, start, end)

    value(Required) : The value to search for

    start(Optional) : Where to start the search. Default is 0

    end(Optional) : Where to end the search. Default is to the end of the string

In [73]:
text = "Hello, welcome to my Class"
print(text.index("welcome"))
print(text.index("e"))
print(text.index("e", 5, 9))
print(text.index("q"))
print(text.find("q"))

7
1
8

ValueError: substring not found

* **```isalnum()```**

The ```isalnum()``` method returns ```True``` if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

*   **Syntax:** string.isalnum()

In [ ]:
text1 = "python3"
text2 = "python 3"
print(text1.isalnum())
print(text2.isalnum())

* **```isalpha()```** 

The ```isalpha()``` method returns ```True``` if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

*   **Syntax:** string.isalpha()

In [ ]:
text1 = "python"
text2 = "python3"
print(text1.isalpha())
print(text2.isalpha())

* **```isdecimal()```**

The ```isdecimal()``` method returns ```True``` if all the characters are decimals (0-9).

<mark>**Note:** This method is used on unicode objects.</mark>

*   **Syntax:** string.isdecimal()

In [ ]:
text1 = "12345" 
text2 = "abcd" 

print(text1.isdecimal())
print(text2.isdecimal())

* **```isdigit()```**

The ```isdigit()``` method returns ```True``` if all the characters are digits.

Exponents, like ², are also considered to be a digit.

*   **Syntax:** string.isdigit()

In [ ]:
text1 = "1000"
text2 = "f1000"
print(text1.isdigit())
print(text2.isdigit())

* **```isidentifier()```**

The ```isidentifier()``` method returns ```True``` if the string is a valid identifier.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).

A valid identifier cannot start with a number, or contain any spaces.

*   **Syntax:** string.isidentifier()

In [ ]:
text1 = "python"
text2 = "python3"
text3 = "python 3"
text4 = "3python"
print(text1.isidentifier())
print(text2.isidentifier())
print(text3.isidentifier())
print(text4.isidentifier())

* **```islower()```**

The ```islower()``` method returns ```True``` if all the characters are in lower case.

Numbers, symbols and spaces are not checked, only alphabet characters.

*   **Syntax:** string.islower()

In [ ]:
text1 = "Hello world"
text2 = "hello world"
print(text1.islower())
print(text2.islower())

* **```isnumeric()```**

The ```isnumeric()``` method returns True if all the characters are numeric (0-9).

Exponents, like ```²``` and ```¾``` are also considered to be numeric values.

**Note:** ```-1``` and ```1.5``` are NOT considered numeric values, because all the characters in the string must be numeric, and the ```-``` and the ```.``` are not.

*   **Syntax:** string.isnumeric()

In [ ]:
text1 = "12345"
text2 = "f12345"
text3 = "abcd"
text4 = "-12345"
text5 = "12.345"
print(text1.isnumeric())
print(text2.isnumeric())
print(text3.isnumeric())
print(text4.isnumeric())
print(text5.isnumeric())

* **```isprintable()```**

The ```isprintable()``` method returns ```True``` if all the characters are printable.

Example of none printable character can be carriage return and line feed.

*   **Syntax:** string.isprintable()

In [ ]:
text1 = "Hello world"
text2 = "Hello!\nAre you #1?"
print(text1.isprintable())
print(text2.isprintable())

* **```isspace()```**

The ```isspace()``` method returns ```True``` if all the characters in a string are whitespaces.

*   **Syntax:** string.isspace()

In [ ]:
text1 = "     "
text2 = "  f  "
print(text1.isspace())
print(text2.isspace())

* **```istitle()```**

The ```istitle()``` method returns ```True``` if all words in a text start with a upper case letter, AND the rest of the word are lower case letters.

<mark>**Note:** Symbols and numbers are ignored.</mark>

*   **Syntax:** string.istitle()

In [ ]:
text1 = "Hello World"
text2 = "HELLO WORLD"
text3 = "22 Names"
print(text1.istitle())
print(text2.istitle())
print(text3.istitle())

* **```isupper()```**

The ```isupper()``` method returns ```True``` if all the characters are in upper case.

Numbers, symbols and spaces are not checked, only alphabet characters.

*   **syntax:** string.isupper()

In [ ]:
text1 = "Hello World"
text2 = "HELLO WORLD"
text3 = "22 Names"
print(text1.isupper())
print(text2.isupper())
print(text3.isupper())

* **```join()```**

The ```join()``` method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

*   **syntax:** string.join(iterable)

    iterable(Required) : Any iterable object where all the returned values are strings.

In [ ]:
a = ("Hello", "welcome", "to", "my", "class" )
print("**".join(a))

* **```ljust()```**

The ```ljust()``` method will left align the string, using a specified character (space is default) as the fill character.

*   **syntax:** string.ljust(length, character)

    length(Required) : The length of the returned string

    character(Optional) : A character to fill the missing space (to the right of the string). Default is " " (space).

In [ ]:
text = "banana"
print(text.ljust(10), "is my favorite")
print(text.ljust(20, "*"))

* **```lower()```**

The ```lower()``` method returns a string where all characters are lower case.

Symbols and Numbers are ignored.

*   **syntax:** string.lower()

In [ ]:
text1 = "HELLO WORLD"
text2 = "Hello World"
text3 = "HELLO WORLD 12345"
print(text1.lower())
print(text2.lower())
print(text3.lower())

* **```lstrip()```**

The ```lstrip()``` method removes any leading characters (space is the default leading character to remove).

*   **syntax:** string.lstrip(characters)

    characters(Optional) : A set of characters to remove as leading characters

In [ ]:
text1 = "    banana    "
text2 = "111112223333...banana"
print(text1.lstrip())
print(text2.lstrip("123."))

* **```maketrans()```**

The ```maketrans()``` method returns a mapping table that can be used with the ```translate()``` method to replace specified characters.

*   **syntax:** string.maketrans(x, y, z) 

    x(Required) : If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.

    y(Optional) : A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.

    z(Optional) : A string describing which characters to remove from the original string.

In [ ]:
text = "Hello Sam"
x = text.maketrans("S", "P")
print(text.translate(x))

* **```partition()```**

The ```partition()``` method searches for a specified string, and splits the string into a tuple containing three elements:

1. The first element contains the part before the specified string.

2. The second element contains the specified string.

3. The third element contains the part after the string.

*   **syntax:** string.partition(value) 

    value(Required) : The string to search for

In [ ]:
text = "I could eat bananas all day"
print(text.partition("bananas"))
print(text.partition("apples"))

* **```replace()```**

The ```replace()``` method replaces a specified phrase with another specified phrase.

*   **syntax:** string.replace(oldvalue, newvalue, count)

    oldvalue(Required) : The string to search for

    newvalue(Required) : The string to replace the old value with

    count(Optional) : A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [ ]:
text = "one one was a race horse, two two was one too."
print(text.replace("one", "three"))
print(text.replace("one", "three", 2))

* **```rfind()```**

The ```rfind()``` method finds the last occurrence of the specified value.

The ```rfind()``` method returns ```-1``` if the value is not found.

The ```rfind()``` method is almost the same as the ```rindex()``` method.

*   **syntax:** string.rfind(value, start, end)

    value(Required) : The value to search for

    start(Optional) : Where to start the search. Default is 0

    end(Optional) : Where to end the search. Default is to the end of the string

In [ ]:
text = "Hello, welcome to my Class"
print(text.rfind("e"))
print(text.rfind("e", 5, 9))
print(text.rfind("q"))

* **```rindex()```**

The ```rindex()``` method finds the last occurrence of the specified value.

The ```rindex()``` method raises an exception if the value is not found.

The ```rindex()``` method is almost the same as the ```rfind()``` method.

*   **syntax:** string.rindex(value, start, end)

    value(Required) : The value to search for

    start(Optional) : Where to start the search. Default is 0

    end(Optional) : Where to end the search. Default is to the end of the string

In [ ]:
text = "Hello, welcome to my Class"
print(text.rindex("e"))
print(text.rindex("e", 5, 9))
print(text.rindex("q"))

* **```rjust()```**

The ```rjust()``` method will right align the string, using a specified character (space is default) as the fill character.

*   **syntax:** string.rjust(length, character) 

    length(Required) : The length of the returned string

    character(Optional) : A character to fill the missing space (to the left of the string). Default is " " (space).

In [ ]:
text = "banana"
print(text.rjust(10), "is my favorite")
print(text.rjust(20, "*"))

* **```rpartition()```**

The ```rpartition()``` method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements: 

1. The first element contains the part before the specified string.

2. The second element contains the specified string.

3. The third element contains the part after the string.

*   **syntax:** string.rpartition(value) 

    value(Required) : The string to search for

In [ ]:
text = "I could eat bananas all day"
print(text.rpartition("bananas"))
print(text.rpartition("apples"))

* **```rslpit()```**

The ```rsplit()``` method splits a string into a list, starting from the right.

<mark>**Note:** If no "max" is specified, this method will return the same as the ```split()``` method.</mark>

*   **syntax:** string.rsplit(separator, maxsplit)

    separator(Optional) : Specifies the separator to use when splitting the string. By default any whitespace is a separator

    maxsplit(Optional) : Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [ ]:
text = "apple, banana, cherry"
print(text.rsplit(", "))
print(text.rsplit(", ", 1))

* **```rstrip()```**

The ```rstrip()``` method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

*   **syntax:** string.rstrip(characters) 

    characters(Optional) : A set of characters to remove as trailing characters

In [ ]:
text1 = "    banana    "
text2 ="banana11122223333...."
print(text1.rstrip())
print(text2.rstrip("123."))

* **```split()```**

The ```split()``` method splits a string into a list.

<mark>**Note: You can specify the separator, default separator is any whitespace.**</mark>

*   **syntax:** string.split(separator, maxsplit)

    separator(Optional) : Specifies the separator to use when splitting the string. By default any whitespace is a separator

    maxsplit(Optional) : Specifies how many splits to do. Default value is ```-1```, which is "all occurrences"

In [ ]:
text = "apple#banana#cherry#orange"
print(text.rsplit("#"))
print(text.rsplit("#", 1))

* **```splitlines()```**

The ```splitlines()``` method splits a string into a list. The splitting is done at line breaks.

*   **syntax:** string.splitlines(keeplinebreaks)

    keeplinebreaks(Optional) : Specifies if the line breaks should be included ```True```, or not ```False```. Default value is ```False```

In [ ]:
text = "Thank you for the music\nWelcome to the jungle"
print(text.splitlines())
print(text.splitlines(True))

* **```startswith()```**

The ```startswith()``` method returns ```True``` if the string starts with the specified value, otherwise ```False```.

*   **syntax:** string.startswith(value, start, end) 

    value(Required) : The value to check if the string starts with

    start(Optional) : An Integer specifying at which position to start the search

    end(Optional) : An Integer specifying at which position to end the search

In [ ]:
text = "Hello, welcome to my class."
print(text.startswith("Hello"))
print(text.startswith("class"))
print(text.startswith("we", 7, 20))

* **```strip()```**

The ```strip()``` method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

*   **syntax:** string.strip(characters)

    characters(Optional) : A set of characters to remove as leading/trailing characters

In [ ]:
text1 = "   banana   "
text2 = "11122233...banana11122"
print(text1.strip())
print(text2.strip("123."))

* **```swapcase()```**

The ```swapcase()``` method returns a string where all the upper case letters are lower case and vice versa.

*   **syntax:** string.swapcase()

In [ ]:
text = "Hello, Welcome to My Class"
print(text.swapcase())

* **```title()```**

The ```title()``` method returns a string where the first character in every word is upper case. Like a header, or a title.

**Note:** If the word contains a number or a symbol, the first letter after that will be converted to upper case.

*   **syntax:** string.title()

In [ ]:
text1 = "hello, welcome to my class"
text2 = "b2b2b2 and 3g3g3g"
print(text1.title())
print(text2.title())

* **```translate()```**

The ```translate()``` method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the ```maketrans()``` method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

<mark>**Note:** If you use a dictionary, you must use ascii codes instead of characters.</mark>

*   **syntax:** string.translate(table)

    table(Required) : Either a dictionary, or a mapping table describing how to perform the replace

In [ ]:
text = "Hello Sam"
a = text.maketrans("S", "P")
print(text.translate(a))

* **```upper()```**

The ```upper()``` method returns a string where all characters are in upper case.

**Note: Symbols and Numbers are ignored.**

*   **syntax:** string.upper()

In [ ]:
text = "Hello my friends"
print(text.upper())

* **```zfill()```**

The ```zfill()``` method adds zeros at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

*   **syntax:** string.zfill(len)

    len(Required) : A number specifying the desired length of the string

In [ ]:
text1 = "hello"
text2 = "welcome to the zoo"
text3 = "20.000"

print(text1.zfill(10))
print(text2.zfill(10))
print(text3.zfill(10))

***
# set & frozenset class
***

Python’s ```set``` class represents the mathematical notion of a set, namely a collection of elements, **without duplicates**, and without an inherent order to those elements. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. However, there are two important restrictions due to the algorithmic underpinnings:

1. The first is that the set does not maintain the elements in any particular order.

2. The second is that only instances of immutable types can be added to a Python set.

Therefore, objects such as integers, floating-point numbers, and character strings are eligible to be elements of a set. It is possible to maintain a set of tuples, but not a set of lists or a set of sets, as lists and sets are mutable. The ```frozenset``` class is an immutable form of the set type, so it is legal to have a set of frozensets.

Python uses curly braces ```{ and }``` as delimiters for a set, for example, as ```{17}``` or ```{ red , green , blue }```. The exception to this rule is that ```{ }``` does not represent an empty set; for historical reasons, it represents an empty dictionary (see next topic). Instead, the constructor syntax ```set()``` produces an empty set. If an iterable parameter is sent to the constructor, then the set of distinct elements is produced. For example:

```python
set( hello )
```

produces:

```python
{ h , e , l , o }.
```

The important characteristics of Python sets are as follows:

* Sets are unordered.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.

* ## Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a ```for``` loop, or ask if a specified value is present in a set, by using the ```in``` keyword:

In [ ]:
transportation = {"car", "plane", "ship"}
print("train" in transportation)

In [ ]:
city = {"park", "street", "hospital"}
for element in city:
    print(element)

* ## Set Methods

1. ```add()```

2. ```clear()```

3. ```copy()```

4. ```difference()```

5. ```difference_update()```

6. ```discard()```

7. ```intersection()```

8. ```intersection_update()```

9. ```isdisjoint()```

10. ```issubset()```

11. ```issuperset()```

12. ```pop()```

13. ```remove()```

14. ```symmetric_difference()```

15. ```symmetric_difference_update()```

16. ```union()```

17. ```update()```

* **```add()```**

The ```add()``` method adds an element to the set.

If the element already exists, the ```add()``` method does not add the element.

*   **Syntax:** set.add(element)

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

* **```clear()```**

The ```clear()``` method removes all elements in a set

*   **Syntax:** set.clear()

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

* **```copy```**

The ```copy()``` method copies the set.

*   **Syntax:** set.copy()

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
print(fruits_copy)

* **```difference()```**

The ```difference()``` method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

*   **Syntax:** set.difference(set)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
difference = fruits.difference(tech_companies)
print(difference)
print(fruits)

* **```difference_update()```**

The ```difference_update()``` method removes the items that exist in both sets.

<mark>**Note: The ```difference_update()``` method is different from the ```difference()``` method, because the ```difference()``` method returns a new set, without the unwanted items, and the ```difference_update()``` method removes the unwanted items from the original set.**</mark>

*   **Syntax:** set.difference_update(set)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
difference = fruits.difference_update(tech_companies)  # returns None
print(difference)
print(fruits)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
fruits.difference_update(tech_companies)
print(fruits)

* **```discard()```**

The ```discard()``` method removes the specified item from the set.

**Note:** This method is different from the ```remove()``` method, because the ```remove()``` method will raise an error if the specified item does not exist, and the ```discard()``` method will not.

*   **Syntax:** set.discard(value)

In [ ]:
tech_companies = {"google", "microsoft", "apple"}
tech_companies.discard("apple")
print(tech_companies)

* **```intersection```**

The ```intersection()``` method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

*   **Syntax:** set.intersection(set1, set2 ... etc)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
intersection = fruits.intersection(tech_companies)
print(intersection)

* **```intersection_update()```**

The ```intersection_update()``` method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The ```intersection_update()``` method is different from the ```intersection()``` method, because the ```intersection()``` method returns a new set, without the unwanted items, and the ```intersection_update()``` method removes the unwanted items from the original set.

*   **Syntax:** set.intersection_update(set1, set2 ... etc)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
fruits.intersection_update(tech_companies)
print(fruits)

* **```isdisjoint```**

The ```isdisjoint()``` method returns ```True``` if none of the items are present in both sets, otherwise it returns ```False```.

* **Syntax:** set.isdisjoint(set)

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
flag = fruits.isdisjoint(tech_companies)
if flag is True:
    print("they are disjoint.")
if flag is False:
    print("they are not disjoint.")

* **```issubset()```**

The ```issubset()``` method returns ```True``` if all items in the set exists in the specified set, otherwise it retuns ```False```.

*   **Syntax:** set.issubset(set)

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
print(x.issubset(y))

* **```issuperset()```**

The ```issuperset()``` method returns ```True``` if all items in the specified set exists in the original set, otherwise it retuns ```False```.

*   **Syntax:** set.issuperset(set)

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
print(x.issuperset(y))

* **```pop()```**

The ```pop()``` method removes a **random** item from the set.

This method returns the removed item.

*   **Syntax:** set.pop()

In [ ]:
cars = {"bmw", "mercedes", "volvo"}
popped = cars.pop()
print("set: ", cars)
print("popped item: ", popped)

* **```remove()```**

The ```remove()``` method removes the specified element from the set.

This method is different from the ```discard()``` method, because the ```remove()``` method will raise an error if the specified item does not exist, and the ```discard()``` method will not.

*   **Syntax:** set.remove(item)

    item(Required): The item to search for, and remove.

In [ ]:
cars = {"bmw", "mercedes", "volvo"}
cars.remove("bmw")
print(cars)

* **```symmetric_difference()```**

The ```symmetric_difference()``` method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

*   **Syntax:** set.symmetric_difference(set)

    set(Required): The set to check for matches in

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
symmetric_difference = fruits.symmetric_difference(tech_companies)
print(symmetric_difference)

* **```symmetric_difference_update()```**

The ```symmetric_difference_update()``` method updates the original set by removing items that are present in both sets, and inserting the other items.

*   **Syntax:** set.symmetric_difference_update(set)

    set(Required): The set to check for matches in

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
fruits.symmetric_difference_update(tech_companies)
print(fruits)

* **```union()```**

The ```union()``` method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

<mark>**Note:** It does not have to be a set, it can be any iterable object.</mark>

If an item is present in more than one set, the result will contain only one appearance of this item.

*   **Syntax:** set.union(set1, set2...)

    set1(Required): The iterable to unify with
    
    set2(Optional): The other iterable to unify with. You can compare as many iterables as you like. Separate each iterable with a comma

In [ ]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}
result = x.union(y, z)
print(result)

* **```update()```**

The ```update()``` method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

*   **Syntax:** set.update(set)

    set(Required): The iterable insert into the current set

In [ ]:
fruits = {"apple", "banana", "cherry"}
tech_companies = {"google", "microsoft", "apple"}
fruits.update(tech_companies)
print(fruits)

***
## dictionary class
***

Python’s ```dict``` class represents a dictionary, or mapping, from a set of distinct keys to associated values. For example, a dictionary might map from unique student ID numbers, to larger student records (such as the student’s name, address, and course
grades). Python implements a dict using an almost identical approach to that of a set, but with storage of the associated values.

A dictionary literal also uses curly braces, and because dictionaries were introduced in Python prior to sets, the literal form ```{ }``` produces an empty dictionary.

A nonempty dictionary is expressed using a comma-separated series of ```key: value``` pairs. For example, the dictionary:
```python
{"ga": "Irish", "de": "German"}
``` 
maps ```"ga"``` to ```"Irish"``` and ```"de"``` to ```"German"```.

The constructor for the ```dict``` class accepts an existing mapping as a parameter, in which case it creates a new dictionary with identical associations as the existing one.

<div>
<img src="https://files.realpython.com/media/t.b3e3d8f2d100.png" width="300"/>
</div>

Alternatively, the constructor accepts a sequence of key-value pairs as a parameter, as in ```dict(pairs)``` with ```pairs = [("ga" , "Irish"), ("de" , "German")]```.

Dictionaries and lists share the following characteristics:

* Both are mutable.
* Both are dynamic. They can grow and shrink as needed.
* Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

* List elements are accessed by their position in the list, via indexing.
* Dictionary elements are accessed via keys.

* ## Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("the car model is: ", car["model"])

<mark>**Note:** There is also a method called ```get()``` that will give you the same result.</mark>

* ## Check if Key Exists

To determine if a specified key is present in a dictionary use the ```in``` keyword:

In [ ]:
if "year" in car:
  print("year is one of the keys in the dictionary")

* ## Change Values

You can change the value of a specific item by referring to its key name:

In [ ]:
car["year"] = 2021
print("after changing the year key's value: ", car)

<mark>**Note:** There is also a method called ```update()``` that will give you the same result.</mark>

* ## Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
car["color"] = "matte black"
print("after adding the color key: ", car)

<mark>**Note:** There is also a method called ```update()``` that will give you the same result.</mark>

* ## Removing Items

There are several methods to remove items from a dictionary:

In [ ]:
del car["model"]
print("after removing the model (key, value) pair: ", car)

<mark>**Note:** The ```del``` keyword can also delete the dictionary completely:</mark>

In [ ]:
del car
print(car)  # will raise an error

<mark>**Note:** There is also two method called ```pop()``` and ```popitem()``` that will give you the same result.</mark>

* ## Dictionary Methods

1. ```clear()```: Removes all the elements from the dictionary

2. ```copy()```: Returns a copy of the dictionary

3. ```fromkeys()```: Returns a dictionary with the specified keys and value

4. ```get()```: Returns the value of the specified key

5. ```items()```: Returns a list containing a tuple for each key value pair

6. ```keys()```: Returns a list containing the dictionary's keys

7. ```pop()```: Removes the element with the specified key

8. ```popitem()```: Removes the last inserted key-value pair

9. ```setdefault()```: Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

10. ```update()```: Updates the dictionary with the specified key-value pairs

11. ```values()```: Returns a list of all the values in the dictionary

* **```clear()```**

The ```clear()``` method removes all the elements from a dictionary.

*   **syntax:** dictionary.clear()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car.clear())

* **```copy()```**

The ```copy()``` method returns a copy of the specified dictionary.

*   **syntax:** dictionary.copy()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
x = car.copy()
print(x)

* **```fromkeys()```**

The ```fromkeys()``` method returns a dictionary with the specified keys and the specified value.

*   **syntax:** dict.fromkeys(keys, value)

    keys(Required) : An iterable specifying the keys of the new dictionary

    value(Optional) : The value for all keys. Default value is None

In [ ]:
a = ('key1', 'key2', 'key3')
b = 0
print(dict.fromkeys(a))
print(dict.fromkeys(a, b))

* **```get()```**

The ```get()``` method returns the value of the item with the specified key.

*   **syntax:** dictionary.get(keyname, value)

    keyname(Required) : The keyname of the item you want to return the value from

    value(Optional) : A value to return if the specified key does not exist.
                  Default value None

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car.get("model"))
print(car.get("price", 1500))

* **```items()```**

The ```items()``` method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

The view object will reflect any changes done to the dictionary.

*   **syntax:** dictionary.items()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car.items())

x = car.items()
car["year"] = 2021
print(x)

* **```keys()```**

The ```keys()``` method returns a view object. The view object contains the keys of the dictionary, **as a list**.

The view object will reflect any changes done to the dictionary.

*   **syntax:** dictionary.keys()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car.keys())

x = car.keys()
car["color"] = "red"
print(car)
print(x)

* **```pop()```**

The ```pop()``` method removes the specified item from the dictionary.

The value of the removed item is the return value of the ```pop()``` method.

*   **syntax:** dictionary.pop(keyname, defaultvalue)

    keyname(Required) : The keyname of the item you want to remove

    defaultvalue(Optional) : A value to return if the specified key do not exist.

                       If this parameter is not specified, and no item with the specified key is found, an error is raised

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
x = car.pop("year")
print(x)
print(car)

* **```popitem()```**

The ```popitem()``` method removes the item that was last inserted into the dictionary. In versions before 3.7, the ```popitem()``` method removes a random item.

The removed item is the return value of the ```popitem()``` method, as a tuple.

*   **syntax:** dictionary.popitem()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
popped = car.popitem()
print(popped)
print(car)

* **```setdefault()```**

The ```setdefault()``` method returns the value of the item with the specified key.

If the key does not exist, insert the key, with the specified value.

*   **syntax:** dictionary.setdefault(keyname, value)

    keyname(Required) : The keyname of the item you want to return the value from

    value(Optional) : 1. If the key exist, this parameter has no effect.

                  2. If the key does not exist, this value becomes the key's value

                  3. Default value None

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car.setdefault("model", "Bronco"))
print(car.setdefault("color", "White"))

* **```update()```**

The ```update()``` method inserts the specified items to the dictionary.

The specified items can be a dictionary, or an iterable object with key value pairs.

*   **syntax:** dictionary.update(iterable)

    iterable : A dictionary or an iterable object with key value pairs, that will be inserted to the dictionary

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
car.update({"color": "White"})
print(car)

* **```values()```**

The ```values()``` method returns a view object. The view object contains the values of the dictionary, **as a list**.

The view object will reflect any changes done to the dictionary.

*   **syntax:** dictionary.values()

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
x = car.values()
print(x)